<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- X5 公共配置 -->
		<add key="X5_UserName" value="RFCMESTENPWR" />
		<add key="X5_Password" value="yjXy!ss7" />
		<add key="X5_AppId" value="xm_oem_9312" />
		<add key="X5_AppKey" value="5ce9f42813ddd97e29562bcb5d10ce83" />

		<!-- 各维度接口 URL -->
		<add key="X5_Url_LL" value="https://mipoq.p.mi.com/HttpAdapter/HttpMessageServlet?interfaceNamespace=http://xiaomi.com/oem/dummy&interface=SI_MI_OEM_IF082_SITE_YIELD_S_OUT&senderService=TEN_POWER_QAS&qos=BE" />
		<add key="X5_Url_ZC" value="https://mipoq.p.mi.com/HttpAdapter/HttpMessageServlet?interfaceNamespace=http://xiaomi.com/oem/dummy&interface=SI_MI_OEM_IF253_QMS_PROCESS_PARAMETER_S_OUT&senderService=TEN_POWER_QAS&qos=BE" />
		<add key="X5_Url_OQC" value="https://mipoq.p.mi.com/HttpAdapter/HttpMessageServlet?interfaceNamespace=http://xiaomi.com/oem/dummy&interface=SI_MI_OEM_IF236_PUSH_QMS_OQC_S_OUT&senderService=TEN_POWER_QAS&qos=BE" />
		<add key="X5_Url_ORT" value="https://mipoq.p.mi.com/HttpAdapter/HttpMessageServlet?interfaceNamespace=http://xiaomi.com/oem/dummy&interface=SI_MI_OEM_IF237_PUSH_QMS_ORT_S_OUT&senderService=TEN_POWER_QAS&qos=BE" />
		<add key="X5_Url_IQC" value="https://mipoq.p.mi.com/HttpAdapter/HttpMessageServlet?interfaceNamespace=http://xiaomi.com/oem/dummy&interface=SI_MI_OEM_IF251_QMS_VENDOR_IQC_S_OUT&senderService=TEN_POWER_QAS&qos=BE" />
		<add key="X5_Url_IPQC" value="https://mipoq.p.mi.com/HttpAdapter/HttpMessageServlet?interfaceNamespace=http://xiaomi.com/oem/dummy&interface=SI_MI_OEM_IF252_QMS_VENDOR_IPQC_S_OUT&senderService=TEN_POWER_QAS&qos=BE" />
	</appSettings>
</configuration>

